* {
    margin: 0;
    border: border-box;
    /* font-family: sans-serif; */
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700; /* Bold headings */
}

pre{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; /* Regular body text */
}

.navbar {
    height: 60px;
    background-color: #181e26;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
    /* padding: 4px 0px 0px; */
    border: 2px solid transparent;
    /* display: inline-block;  */
}

.logo {
    height: 50px;
    width: 100px;
    /* margin: 1px;
    padding: 1px 8px 0px 6px; */
    background-image: url("amazon_logo.png");
    background-size: cover;
}

.border:hover {
    border: 1.5px solid white;
    border-radius: 2px;
}

.nav-address {
    height: 50px;
    font-size: 12px;
    color: #CCCCCC;
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-address-logo {
    font-size: 14px;
    color: white;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* box3 */

.nav-search{
    margin-left: 20px;
    display: flex;
    width: 950px;
    height: 40px;
    margin-top: 10px;
    /* padding: 10px 2px 10px 2px; */
    border-radius: 4px;
    background-color: #fbb96f;
}

.search-border:hover{
    background-color: rgb(220, 161, 50);
}

.search-select{
    background-color: #f3f3f3;
    width: 45px;
    height:40px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
    color: rgb(101, 100, 100);
}

.search-select-border:hover{
    background-color: rgb(76, 76, 76);
    color: black;
}

.search-box{
    width: 850px;
    border: none;
    font-size: 1rem;
}

.search-icon{
    align-self: center;
    padding-left:12px;
    padding-right: 12px;
    color: #0f1111;
    font-size: 20px;
}

.sign-in-text{
    color: white;
    font-size: 12px;
    /* padding-left: 4px; */
}

.sign-in-selectoption{
    color: white;
    font-size: 14px;
    border:none;
    background-color: #0f1111;
    font-weight: bolder;
    text-align: left;
}

.sign-in{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.nav-return{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.nav-cart{
    font-size: 14px;
    font-weight: bolder;
    color: white;
    display: flex;
    align-items: center;
}

.nav-cart-icon{
    font-size: 27px;
    /* display: inline-block; */
}

.nav-cart-text{
    padding-top:14px;
}

/* panel  */

.panel{
    height: 39px;
    background-color: #222f3d;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.panel-all{
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.panel-all-text{
    font-size: 14px;
    color: white;
    font-weight:bolder;
}

.panel-all-icon{
    font-size: 25px;
    color: white;
}

.panel-ops{
    width: 93%;
    display: flex;
    color: white;
    font-weight: 200;
    align-items: center;
    font-size: 14px;
    font-weight:600;
}

.panel-ops p{
    margin-right: 15px;
}

/* hero section  */

.hero{
    height: 350px;
    background-image: url("hero_image.jpg");
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero-msg{
    background-color: #f5f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #0f1111;
    height: 40px;
    width: 80%;
    margin-bottom: 25px;
}

.hero-msg a{
    color: #2162A1;
    text-decoration: underline;
}

/* shop-section */

.shop-section{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    /* height:400px; */
    background-color:#BBCACE;
    flex-wrap: wrap;
}

.box {
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 0px 15px;
    justify-content: center;
    /* align-items: center; */
    margin-bottom: 2rem;
    /* align-content: space-evenly; */
}

.box p{
    font-size: 13px;
    color: #2162A1;
    /* text-decoration: underline; */
}

.box h2{
    font-size: 21px;
}

.box1-image{
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-size: cover;

}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
    
}

/* footer  */

.backtotop{
    height: 50px;
    font-size: 13px;
    color: white;
    background-color: #37475A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.partnerwithus{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    height: 350px;
    background-color:#232f3e;
    color: white;
    padding-top: 40px;
    padding-right: 200px;
    padding-left: 200px;
}

.pwsbox {
    background-color: #232f3e;
}

.pwsbox p{
    margin-bottom: 10px;
    font-size: 14px;
    color: #DDDDDD;
}

.pwsbox p:hover{
    text-decoration: underline;
}

.pwsbox h2{
    margin-bottom: 15px;
    font-size: 16px;
}

.footer-logo-img{
    height: 33px;
    width: 80px;
    background-image: url("amazon_logo.png");
    background-size: cover;
}

.footer-logo{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#232f3e;
}

